<a href="https://colab.research.google.com/github/ranamaddy/PythonBasics/blob/main/py1_variable_and_print_function_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# python introduction 

Python is a popular high-level programming language that is widely used in a variety of fields, including data science, machine learning, web development, scientific computing, and more. It was first created in 1991 by Guido van Rossum and has since become one of the most popular programming languages in the world.

Python is known for its simple and intuitive syntax, which makes it easy to read and write code. It also has a large standard library that provides a wide range of functionalities, including data manipulation, file handling, networking, and more. Additionally, Python has a large and active community of developers who contribute to open-source packages and tools that extend the language's capabilities.

One of the key strengths of Python is its versatility. It can be used for a wide range of tasks, from scripting and automation to developing large-scale applications. It also has extensive support for scientific computing, including numerical computation, data analysis, and visualization.

Python is an interpreted language, which means that code is executed on the fly, without the need for compilation. This allows for fast and efficient development, as well as easy experimentation and prototyping.

Overall, Python is a powerful and versatile programming language that can be used for a wide range of applications. Its simplicity, readability, and large standard library make it an ideal choice for beginners and experts alike.

**variable and ouptput function**

In [4]:
a =5

print(a)

5

In [5]:
a=5
b=10
print(a+b)

15

In [6]:
# This code assigns the value 5 to variable a and prints it
d = 5
print(d)

5

In [7]:
# This code assigns the values 5 and 10 to variables a and b respectively, adds them and prints the result
a = 5
b = 10
print(a + b)

15

In [8]:
# This code assigns the values 5 and 10 to variables a and b respectively, minus them and prints the resulta = 5
b = 10
print(a - b)

-5

In [9]:
# This code assigns the values 5 and 10 to variables a and b respectively, multiply them and prints the result
a = 5
b = 10
print(a * b)

50

In [10]:
# This code assigns the values 5 and 10 to variables a and b respectively, divides them and prints the result
a = 5
b = 10
print(b / a)

2.0

In [12]:
# This code assigns the values 5 and 10 to variables a and b respectively, remainder them and prints the result
a = 4
b = 10
print(b % a)

2

In [13]:
# This code assigns the value 2 to variable c and prints it
c = 2
print(c)

2

In [14]:
# This code assigns the value "Hello, World!" to variable message and prints it
message = "Hello, World!"
print(message)

Hello, World!

In [15]:
# This code assigns the value True to variable is_raining and prints it
is_raining = True
print(is_raining)

True

In [16]:
# This code assigns the value "John" to variable name and prints it
name = "John"
print(name)

John

In [17]:
# This code assigns the value of the length of string "Hello, World!" to variable message_length and prints it
message_length = len("Hello, World!")
print(message_length)

13

In [18]:
# This code assigns the value of 3.14 to variable pi and prints it
pi = 3.14
print(pi)

3.14

In [19]:
# This code assigns the value of the sum of variables a, b, and c to variable total and prints it
a = 2
b = 4
c = 6
total = a + b + c
print(total)

12

In [20]:
# This code assigns the value of the product of variables a, b, and c to variable result and prints it
a = 2
b = 4
c = 6
result = a * b * c
print(result)

48

In [21]:
# This code assigns the value of variable b divided by variable a to variable quotient and prints it
a = 2
b = 10
quotient = b / a
print(quotient)

5.0

In [22]:
# This code assigns the value of variable c modulo variable a to variable remainder and prints it
a = 3
c = 11
remainder = c % a
print(remainder)

2

In [23]:
# This code assigns the value of the concatenation of two strings to variable greeting and prints it
first_name = "John"
last_name = "Doe"
greeting = "Hello, " + first_name + " " + last_name + "!"
print(greeting)

Hello, John Doe!

In [24]:
# This code assigns the value of the boolean expression (5 > 3) to variable greater and prints it
greater = (5 > 3)
print(greater)

True

In [26]:
# This code assigns the value of variable num to variable squared and calculates the square of num
num = 7
squared = num ** 2
print(squared)

49

In [25]:
# This code assigns the value of variable radius to variable r and calculates the area of a circle with radius r
radius = 5
r = radius
area = 3.14 * r ** 2
print(area)

78.5

In [27]:
# This code assigns the value of variable x to variable y and calculates the cube of y
x = 4
y = x
cube = y ** 3
print(cube)

64

In [28]:
# This code assigns the value of the swap of two variables with third variable and prints it
a = 5

b = 7
temp = a
a = b
b = temp
print("a =", a)
print("b =", b)

a = 7
b = 5

In [30]:
# This code assigns the value of the swap of two variables without third variable and prints it
x = 10
y = 5
x, y = y, x
print("x =", x)
print("y =", y)

x = 5
y = 10

In [31]:
# This code assigns the value of the  of two variables without third variable and prints it
a = 15
b = 20
a = a + b
b = a - b
a = a - b
print("a =", a)
print("b =", b)

a = 20
b = 15

In [32]:
# This code assigns the value of the swap of two variables without third variable and prints it
x = 8
y = 3
x = x ^ y
y = x ^ y
x = x ^ y
print("x =", x)
print("y =", y)

x = 3
y = 8

In [33]:
# This code assigns the value of the 2 variable and calculate integer division
a = 25
b = 4
integer_division = a // b
print(integer_division)

6

In [34]:
# This code assigns the value of the 2 variable and calculate float division
c = 25
d = 4
float_division = c / d
print(float_division)

6.25