<a href="https://colab.research.google.com/github/ranamaddy/PythonBasics/blob/main/py_5_LIST.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **LIST**

In Python, a list is a collection of values that are ordered and mutable (i.e., can be changed). A list is defined using square brackets ([]), and individual values are separated by commas. Here's an example:

In [2]:
my_list = [1, 2, 3, 4, 5]
my_list

[1, 2, 3, 4, 5]

**index of list **

In [3]:
# print any index of list 
print(my_list[2]) # prints the value at index 2, which is 3

3

In Python, **slicing** is a way to extract a portion of a list by specifying a range of indices. The syntax for slicing a list is as follows:

my_list[start_index:end_index:step]

The **start_inde**x parameter specifies the index at which the slice begins (inclusive).
The **end_index** parameter specifies the index at which the slice ends (exclusive).
The **step** parameter specifies the interval between indices in the slice (default value is

In [4]:
# diplay slicing of list 
print(my_list[1:4]) # prints values from index 1 to index 3 (excluding index 4)

[2, 3, 4]

In [5]:
# diplay slicing of list with steps 
print(my_list[::2]) # prints values from start to end with a step of 2

[1, 3, 5]

In [6]:
# diplay slicing of list of alla even number 
#Here's the code to display slicing of list of all even numbers: 
print(my_list[1::2]) # prints values from index 1 to end with a step of 2, which are all the even numbers in the list

[2, 4]

In [9]:
# diplay slicing of list of alla even number with if
#Here's the code to display slicing of list of all even numbers using an if statement:
for num in my_list:
    if num % 2 == 0:
        print(num) # prints all even numbers in the list

2
4

In [10]:
# make new list 0f 10 element and display all element using loop with index 
new_list = [6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
for i in range(len(new_list)):
    print(f"Element at index {i} is {new_list[i]}") # prints each element in the new_list along with its index

Element at index 0 is 6
Element at index 1 is 7
Element at index 2 is 8
Element at index 3 is 9
Element at index 4 is 10
Element at index 5 is 11
Element at index 6 is 12
Element at index 7 is 13
Element at index 8 is 14
Element at index 9 is 15

In [11]:
# make new list 0f 10 element and display all element using loop with value 
new_list = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
for num in new_list:
    print(num) # prints each element in the new_list

2
4
6
8
10
12
14
16
18
20

In [12]:
# make new list 0f 10 element and display sum of  all even number  using loop
new_list = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
sum_even = 0
for num in new_list:
    if num % 2 == 0:
        sum_even += num
print("Sum of all even numbers in the list is:", sum_even) # prints the sum

Sum of all even numbers in the list is: 110

In [13]:
# make new list 0f 10 element and display sum of  all odd number  using loop
new_list = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
sum_odd = 0
for num in new_list:
    if num % 2 != 0:
        sum_odd += num
print("Sum of all odd numbers in the list is:", sum_odd) # prints the sum

Sum of all odd numbers in the list is: 100

In [14]:
# make new list 0f 10 element and display count of  all even number  using loop
new_list = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
count_even = 0
for num in new_list:
    if num % 2 == 0:
        count_even += 1
print("Count of all even numbers in the list is:", count_even) # prints the

Count of all even numbers in the list is: 10

In [16]:
# make new list 0f 10 element and display count of  all odd number  using loop
new_list = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
count_odd = 0
for num in new_list:
    if num % 2 != 0:
        count_odd += 1
print("Count of all odd numbers in the list is:", count_odd) # prints the

Count of all odd numbers in the list is: 10

In [17]:
# make new list 0f 10 element and display reverse of list  using loop
new_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
reverse_list = []
for i in range(len(new_list)-1, -1, -1):
    reverse_list.append(new_list[i])
print("Reverse of the list is:", reverse_list) # prints the reversed list

Reverse of the list is: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# **List functions**
In Python, lists have a variety of built-in functions (also known as methods) for manipulating and working with their contents. Here's a list of some common functions for lists:

**append():** Adds an element to the end of a list.

**extend():** Adds the elements of a list (or any iterable) to the end of another list.

**insert():** Inserts an element at a specified position in a list.

**remove():** Removes the first occurrence of an element from a list.

**pop():** Removes and returns the element at a specified position in a list.

**index():** Returns the index of the first occurrence of an element in a list.

**count():** Returns the number of times an element appears in a list.

**sort()**: Sorts the elements of a list in ascending order (or using a custom sorting function).

**reverse():** Reverses the order of the elements in a list.

**copy():** Returns a copy of a list.

**clear():** Removes all elements from a list.

In [18]:
# use append() in list 
# create an empty list
my_list = []
# append some elements to the list
my_list.append(1)
my_list.append(2)
my_list.append(3)
print("My list is:", my_list) # prints the list with appended elements

My list is: [1, 2, 3]

In [19]:
# use append() in list  existing list 
# create an existing list
my_list = [1, 2, 3]
# append some elements to the list
my_list.append(4)
my_list.append(5)
print("My list is:", my_list) # prints the list with appended elements

My list is: [1, 2, 3, 4, 5]

In [20]:
# append 2 list  make one 
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = list1 + list2
print("Combined list is:", list3) # prints the combined list of list1 and list2

Combined list is: [1, 2, 3, 4, 5, 6]

# **extend():**
Adds the elements of a list (or any iterable) to the end of another list.

In [21]:
# use extend(): function in list 
# create an existing list
my_list = [1, 2, 3]
# extend the list with some elements
my_list.extend([4, 5])
print("My list is:", my_list) # prints the list with extended elements

My list is: [1, 2, 3, 4, 5]

In [22]:
# use extend() in list existing list
# create an existing list
my_list = [1, 2, 3]
# create another list
new_elements = [4, 5]
# extend the existing list with the new list
my_list.extend(new_elements)
print("My list is:", my_list) # prints the list with extended elements

My list is: [1, 2, 3, 4, 5]

# **insert():**
 Inserts an element at a specified position in a list

In [23]:
# use insert function in list 
# create an existing list
my_list = [1, 2, 3]
# insert an element at index 1
my_list.insert(1, 4)
print("My list is:", my_list) # prints the list with inserted element at index 1

My list is: [1, 4, 2, 3]

In [24]:
# use insert function in combine 2 list 
# create two existing lists
list1 = [1, 2, 3]
list2 = [4, 5, 6]
# insert the elements of list2 into list1 at index 3
for i in range(len(list2)):
    list1.insert(i+3, list2[i])
print("Combined list is:", list1) # prints the combined list of

Combined list is: [1, 2, 3, 4, 5, 6]

# **remove():**

Removes the first occurrence of an element from a list

In [25]:
# use remove function in list 
# create an existing list
my_list = [1, 2, 3, 4, 5]
# remove element 3 from the list
my_list.remove(3)
print("My list is:", my_list) # prints the list with element 3 removed

My list is: [1, 2, 4, 5]

In [27]:
# use remove function in list and clear all value  using remove function and loop 
# create an existing list

my_list = [1, 2, 3, 4, 5]

# remove all elements from the list using a loop and remove function
for i in my_list:
    my_list.remove(i)
print("My list is:", my_list) # prints the empty list

My list is: [2, 4]

In [30]:
# use remove function in list and remove  all even value  using remove function and loop 
# create an existing list
my_list = [1, 3, 3, 4, 5, 11, 7, 8, 9]
# remove all even elements from the list using a loop and remove function
for i in my_list:
    if i % 2 == 0:
        my_list.remove(i)
print("My list is:", my_list) # prints the list with all even elements removed

My list is: [1, 3, 3, 5, 11, 7, 9]

# **pop():**
Removes and returns the element at a specified position in a list

In [31]:
# use pop function in list 
# create an existing list
my_list = [1, 2, 3, 4, 5]
# remove and return the last element of the list using pop function
last_element = my_list.pop()
print("Last element removed from the list is:", last_element)
print("My list is:", my_list) # prints the list with last element removed

Last element removed from the list is: 5
My list is: [1, 2, 3, 4]

In [32]:
# pop of 1st element of list using pop function 
# create an existing list
my_list = [1, 2, 3, 4, 5]
# remove and return the first element of the list using pop function
first_element = my_list.pop(0)
print("First element removed from the list is:", first_element)
print("My list is:", my_list) # prints the list with first element removed

First element removed from the list is: 1
My list is: [2, 3, 4, 5]

In [33]:
# pop of mid element of lisr using pop function
 # create an existing list
my_list = [1, 2, 3, 4, 5]
# remove and return the middle element of the list using pop function
mid_element = my_list.pop(len(my_list)//2)
print("Middle element removed from the list is:", mid_element)
print("My list is:", my_list) # prints the list with middle element removed

Middle element removed from the list is: 3
My list is: [1, 2, 4, 5]

In [34]:
# reverse of list using pop function 
# create an existing list
my_list = [1, 2, 3, 4, 5]
# reverse the list using pop function
reversed_list = []
while len(my_list) > 0:
    reversed_list.append(my_list.pop())
print("Reversed list is:", reversed_list) # prints the reversed list

Reversed list is: [5, 4, 3, 2, 1]

In [36]:
# pop all even value from list 
# create an existing list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
# remove all even values from the list using pop function
i = 0
while i < len(my_list):
    if my_list[i] % 2 == 0:
        my_list.pop(i)
    else:
      i += 1

         
print("My list with even values removed is:", my_list) # prints the list with even values removed

My list with even values removed is: [1, 3, 5, 7, 9]

# **index():** 
Returns the index of the first occurrence of an element in a list.

In [37]:
#use of index function  in list 
# create an existing list
my_list = ['apple', 'banana', 'orange', 'grape', 'kiwi']
# find the index of 'orange' in the list using index function
orange_index = my_list.index('orange')
print("Index of 'orange' in the list is:", orange_index)

Index of 'orange' in the list is: 2

In [38]:
#use of index function  on number list 
# create an existing list
my_list = [10, 20, 30, 40, 50]
# find the index of 30 in the list using index function
thirty_index = my_list.index(30)
print("Index of 30 in the list is:", thirty_index)

Index of 30 in the list is: 2

In [40]:
#use of index function  on number list 
# create an existing list
my_list = [10, 30, 10, 30, 50]
# find the index of 30 in the list using index function
thirty_index = my_list.index(30)
print("Index of 30 in the list is:", thirty_index)

Index of 30 in the list is: 1

# **count():**
Returns the number of times an element appears in a list.

In [41]:
# use count function in list 
# create an existing list
my_list = [10, 20, 30, 40, 50, 30, 20, 30]
# count the number of occurrences of 30 in the list using count function
thirty_count = my_list.count(30)
print("Number of occurrences of 30 in the list is:", thirty_count)

Number of occurrences of 30 in the list is: 3

In [42]:
# use count function in list and check value is available or not 
# create an existing list
my_list = [10, 20, 30, 40, 50, 30, 20, 30]
# check if 60 is present in the list using count function
sixty_count = my_list.count(60)
if sixty_count > 0:
    print("60 is present in the list")
else:
    print("60is not present in the list")

60is not present in the list

# **sort():**
Sorts the elements of a list in ascending order (or using a custom sorting function).

In [43]:
# use sort function in list 
# create an existing list
my_list = [10, 50, 30, 20, 40]
# sort the list using sort function
my_list.sort()
print("Sorted list is:", my_list)

Sorted list is: [10, 20, 30, 40, 50]

In [44]:
# use sort function in list with asc order 
# create an existing list
my_list = [10, 50, 30, 20, 40]
# sort the list in ascending order using sort function
my_list.sort()
print("Sorted list in ascending order is:", my_list)

Sorted list in ascending order is: [10, 20, 30, 40, 50]

In [45]:
# use sort function in list with desc order 
# create an existing list
my_list = [10, 50, 30, 20, 40]
# sort the list in descending order using sort function and reverse parameter
my_list.sort(reverse=True)
print("Sorted list in descending order is:", my_list)

Sorted list in descending order is: [50, 40, 30, 20, 10]

# **reverse():**
Reverses the order of the elements in a list.

In [46]:
#use reverse function in list 
# create an existing list
my_list = [10, 50, 30, 20, 40]
# reverse the list using reverse function
my_list.reverse()
print("Reversed list is:", my_list)

Reversed list is: [40, 20, 30, 50, 10]


# **copy():**
Returns a copy of a list.

In [47]:
# use copy function in list 
# create an existing list
my_list = [10, 50, 30, 20, 40]
# create a copy of the list using copy function
new_list = my_list.copy()
print("Original list is:", my_list)
print("Copied list is:", new_list)

Original list is: [10, 50, 30, 20, 40]
Copied list is: [10, 50, 30, 20, 40]

In [48]:
# use copy function in list with exiting list 
 # create an existing list
my_list = ['apple', 'banana', 'cherry']
new_list=['oriange']
# create a copy of the list using copy function
new_list = my_list.copy()
print("Original list is:", my_list)
print("Copied list is:", new_list)

Original list is: ['apple', 'banana', 'cherry']
Copied list is: ['apple', 'banana', 'cherry']

# **clear():**
Removes all elements from a list.

In [49]:
# use clear function in list 
# create an existing list
my_list = [10, 50, 30, 20, 40]
# clear the list using clear function
my_list.clear()
print("Cleared list is:", my_list)

Cleared list is: []

There are several other built-in functions for lists in Python. Here are a few more examples:

sorted(): Returns a new sorted list from the items in an iterable (or the items in a list) in ascending order. Unlike the sort() method, sorted() does not modify the original list.

max(): Returns the largest item in a list (or an iterable).

min(): Returns the smallest item in a list (or an iterable).

sum(): Returns the sum of all items in a list (or an iterable).

len(): Returns the number of items in a list.

In [52]:
my_list = [4, 7, 1, 8, 3, 9, 2]

sorted_list = sorted(my_list)
print(sorted_list)  # prints [1, 2, 3, 4, 7, 8, 9]

max_value = max(my_list)
print("max is ",max_value)  # prints 9

min_value = min(my_list)
print("MIN is ",min_value)  # prints 1

sum_value = sum(my_list)
print("SUM is ",sum_value)  # prints 34

length = len(my_list)
print("lenght is ",length)  # prints 7

[1, 2, 3, 4, 7, 8, 9]
max is  9
MIN is  1
SUM is  34
lenght is  7

In [53]:
# use 2X3 list 
# create a 2x3 list
my_list = [[1, 2, 3], [4, 5, 6]]
print(my_list)  # prints [[1, 2, 3], [4, 5, 6]]

[[1, 2, 3], [4, 5, 6]]

In [54]:
# access the element of 2X3 list
print(my_list[0][1])  # prints 2
print(my_list[1][2])  # prints 6

2
6

In [55]:
# itrate 2 X 3 list # iterate 2 X 3 list
for i in range(len(my_list)):
    for j in range(len(my_list[i])):
        print(my_list[i][j], end=" ")
    print()

1 2 3
4 5 6