<a href="https://colab.research.google.com/github/ranamaddy/PythonBasics/blob/main/py_7_set_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Set
A Python set is a collection of items that are unordered, meaning they have no specific order. Each element in a set must be unique, meaning it cannot be repeated, and immutable, meaning it cannot be changed after it is added to the set. Sets are mutable, which means their contents can be modified after they are created.

One key feature of sets is that they automatically remove duplicate elements. If you try to add an element that already exists in the set, it will not be added again. This makes sets useful for tasks where you need to keep track of unique values.

Unlike other collections in Python, such as lists or tuples, sets do not have an index associated with their elements. This means you cannot directly access elements in a set using an index like you can with a list. However, you can loop through the set to access all the elements, or you can print them all together using appropriate methods provided by sets.

# Creating a set
Certainly! You can create a set in Python by enclosing a comma-separated list of immutable items within curly **braces {}**. Python also provides a built-in **set()** method that can be used to create a set from a sequence of items passed as an argument.

# Using curly braces {}:

In [4]:
# Create a set of integers
my_set = {1, 2, 3, 4, 5}
print(my_set)

# Create a set of strings
my_set = {'apple', 'banana', 'cherry'}
my_set

{1, 2, 3, 4, 5}

{'apple', 'banana', 'cherry'}

**Using the set() method:**

In [7]:
# Create a set from a list of integers
my_list = [1, 2, 3, 4, 5]
my_set = set(my_list)

print(my_set)
print(type(my_set))

# Create a set from a tuple of strings
my_tuple = ('apple', 'banana', 'cherry')
my_set = set(my_tuple)

print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>
{'apple', 'banana', 'cherry'}
<class 'set'>

**Note that** sets only allow immutable items, such as numbers, strings, or tuples (if they only contain immutable items) to be included as elements. Mutable items like lists or other sets cannot be used as elements in a set.

# Adding items to the set
Certainly! In Python, you can add items to a set using the **add()** method or the **update()** method.

# add() method:
 This method is used to add a single element to a set.

In [8]:
# Create a set
my_set = {1, 2, 3, 4}

# Add an element to the set
my_set.add(5)

# Print the updated set
print(my_set)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

# update() method:
 This method is used to add multiple elements to a set. You can pass a sequence (such as a list or another set) as an argument to update() to add multiple elements at once.

In [9]:
# Create a set
my_set = {1, 2, 3}

# Add multiple elements to the set
my_set.update([3, 4, 5, 6])

# Print the updated set
print(my_set)  # Output: {1, 2, 3, 4, 5, 6}

{1, 2, 3, 4, 5, 6}

**Note that sets** automatically remove duplicate elements, so if you try to add an element that already exists in the set, it will not be added again.

# Removing items from the set
Certainly! In Python, you can remove items from a set using the **discard()** method or the **remove()** method

# discard() method:
 This method is used to remove an item from a set. If the item does not exist in the set, the set remains unchanged and no error is raised.

In [10]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Remove an item from the set
my_set.discard(3)

# Print the updated set
print(my_set)  # Output: {1, 2, 4, 5}

{1, 2, 4, 5}

# remove() method: 
This method is used to remove an item from a set. If the item does not exist in the set, a KeyError is raised.

In [11]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Remove an item from the set
my_set.remove(3)

# Print the updated set
print(my_set)  # Output: {1, 2, 4, 5}

{1, 2, 4, 5}

**Note that** when using **remove()**, it is important to ensure that the item you are trying to remove actually exists in the set, otherwise a KeyError will be raised. On the other hand, **discard()** is more lenient and does not raise an error if the item does not exist in the set

# Difference between discard() and remove()

Certainly! The main difference between the discard() and remove() methods in Python is how they handle the situation when the item being removed is not found in the set:

**discard()** method: If the item being removed does not exist in the set, discard() will simply do nothing and the set remains unchanged. No error is raised.

In [12]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Try to remove an item using discard()
my_set.discard(6)

# Print the set (unchanged)
print(my_set)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

**remove() method**: If the item being removed does not exist in the set, remove() will raise a KeyError.

In [13]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Try to remove an item using remove()
my_set.remove(6)  # Raises KeyError: 6

# Print the set (unchanged)
print(my_set)  # This line will not be executed due to the error above

KeyError: ignored

**In summary**, **discard()** is more lenient and does not raise an error if the item being removed is not found in the set, while **remove()** raises a **KeyError** in such cases. It's recommended to use **discard() **if you want to avoid errors when removing items that may or may not exist in the set

# Python Set Operations
Certainly! In Python, sets support various mathematical operations such as union, intersection, difference, and symmetric difference. These operations can be performed using operators or methods provided by Python. Here's a brief description of these operations:

**Union:** The union of two sets consists of all unique elements from both sets. In Python, you can use the **| (pipe)** operator or the **union()** method to perform the union operation.
![python-set.png]()

In [14]:
# Example of union operation
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Using the | operator
union_set = set1 | set2
print(union_set)  # Output: {1, 2, 3, 4, 5}

# Using the union() method
union_set = set1.union(set2)
print(union_set)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

**Intersection:** The intersection of two sets consists of all elements that are common to both sets. In Python, you can use the **& (ampersand)** operator or the **intersection()** method to perform the intersection operation.

![python-set2.png]()

In [15]:
# Example of intersection operation
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Using the & operator
intersection_set = set1 & set2
print(intersection_set)  # Output: {3}

# Using the intersection() method
intersection_set = set1.intersection(set2)
print(intersection_set)  # Output: {3}

{3}
{3}

**Difference:** The difference between two sets consists of all elements that are present in one set but not in the other. In Python, you can use the 
**- (minus)** operator or the **difference()** method to perform the difference operation
![python-set3.png]()

In [16]:
# Example of difference operation
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Using the - operator
difference_set = set1 - set2
print(difference_set)  # Output: {1, 2}

# Using the difference() method
difference_set = set1.difference(set2)
print(difference_set)  # Output: {1, 2}

{1, 2}
{1, 2}

**Symmetric Difference:** The symmetric difference between two sets consists of all elements that are present in either set but not in both sets. In Python, you can use the **^ (caret)** operator or the **symmetric_difference()** method to perform the symmetric difference operation.

![python-set4.png]()

In [17]:
# Example of difference operation
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Using the - operator
difference_set = set1 - set2
print(difference_set)  # Output: {1, 2}

# Using the difference() method
difference_set = set1.difference(set2)
print(difference_set)  # Output: {1, 2}

{1, 2}
{1, 2}

**Note that** these operations do not modify the original sets, but instead create new sets as the result of the operations.

# Set comparisons

In Python, you can use the comparison operators, such as **<, >, <=, >=, and ==**, with sets to perform set comparisons. These operators allow you to check if one set is a subset, superset, or equivalent to another set. They return a boolean value of True or False depending on the items present inside the sets. Here's a brief explanation of these set comparison operators:

**Subset:** The **< (less than)** operator or the **issubset()** method can be used to check if one set is a subset of another set. A set A is considered a subset of set B if all elements of A are also present in

In [18]:
# Example of subset comparison
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

# Using the < operator
is_subset = set1 < set2
print(is_subset)  # Output: True

# Using the issubset() method
is_subset = set1.issubset(set2)
print(is_subset)  # Output: True

True
True

**Superset:** The **> (greater than)** operator or the **issuperset()** method can be used to check if one set is a superset of another set. A set A is considered a superset of set B if all elements of B are also present in A.

In [19]:
# Example of superset comparison
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}

# Using the > operator
is_superset = set1 > set2
print(is_superset)  # Output: True

# Using the issuperset() method
is_superset = set1.issuperset(set2)
print(is_superset)  # Output: True

True
True

**Equivalent:** The **== (equal to)** operator or the **__eq__() **method can be used to check if two sets are equivalent, i.e., they have the same elements.

In [20]:
# Example of equality comparison
set1 = {1, 2, 3}
set2 = {3, 2, 1}

# Using the == operator
is_equal = set1 == set2
print(is_equal)  # Output: True

# Using the __eq__() method
is_equal = set1.__eq__(set2)
print(is_equal)  # Output: True

True
True

**Note that** the order of elements in a set does not matter, as sets are unordered collections of unique elements.

# FrozenSets

Certainly! In Python, a frozen set is an immutable form of a normal set. This means that once a frozen set is created, its elements cannot be changed, and therefore it can be used as a key in a dictionary.

The elements of a frozen set cannot be modified after its creation. Methods like **add() or remove()** cannot be used to change or append the contents of a frozen set.

You can create a frozen set using the **frozenset()** method, which takes an iterable sequence as an argument and returns a frozen set object. Here's an example:

In [21]:
# Example of creating a frozen set
my_list = [1, 2, 3, 4, 5]
my_tuple = (6, 7, 8, 9, 10)

frozen_set1 = frozenset(my_list)
frozen_set2 = frozenset(my_tuple)

print(frozen_set1)  # Output: frozenset({1, 2, 3, 4, 5})
print(frozen_set2)  # Output: frozenset({6, 7, 8, 9, 10})

frozenset({1, 2, 3, 4, 5})
frozenset({6, 7, 8, 9, 10})

**Note that** the elements of a frozen set are enclosed in curly braces {} and the type is specified as frozenset when printed

# Frozenset for the dictionary
Certainly! If you pass a dictionary as the sequence inside the **frozenset()** method, it will consider only the keys of the dictionary and return a frozen set that contains the keys of the dictionary as its elements.

Here's an example:

In [22]:
# Example of creating a frozen set from a dictionary
my_dict = {'a': 1, 'b': 2, 'c': 3, 'd': 4}

frozen_set = frozenset(my_dict)

print(frozen_set)  # Output: frozenset({'a', 'b', 'c', 'd'})

frozenset({'a', 'c', 'b', 'd'})

**In the example**, the keys of the **my_dict** dictionary ('a', 'b', 'c', 'd') are converted into a frozen set using the **frozenset()** method, and the resulting frozen set contains these keys as its elements. Note that the order of elements in the frozen set may not necessarily be the same as the original dictionary, as sets are unordered collections in Python.

# Python Built-in set methods

**clear()**	
The clear() method is used to remove all the items from a set in Python. It empties the set and makes it an empty set with no items.

In [23]:
# Creating a set
my_set = {1, 2, 3, 4}

print(my_set)  # Output: {1, 2, 3, 4}

# Clearing the set
my_set.clear()

print(my_set)  # Output: set()

{1, 2, 3, 4}
set()

**copy()**
The copy() method is used to create a shallow copy of a set in Python. It returns a new set object that is a copy of the original set, but the items inside the set are still references to the same objects as the original set.

Here's an example:

In [24]:
# Creating a set
my_set = {1, 2, 3, 4}

# Creating a shallow copy of the set
my_set_copy = my_set.copy()

print(my_set)       # Output: {1, 2, 3, 4}
print(my_set_copy)  # Output: {1, 2, 3, 4}

# Modifying the original set
my_set.add(5)

print(my_set)       # Output: {1, 2, 3, 4, 5}
print(my_set_copy)  # Output: {1, 2, 3, 4} (copy is not affected by changes in the original set)

{1, 2, 3, 4}
{1, 2, 3, 4}
{1, 2, 3, 4, 5}
{1, 2, 3, 4}

In the example, the **copy()** method is used to create a shallow copy of the my_set set, and the resulting my_set_copy set contains the same items as the original set. However, when the original set is modified by adding a new item, the copy remains unchanged as it is a shallow copy and the items inside both sets still reference the same objects.

**difference_update(....)**

The **difference_update()** method is used to modify a set by removing all the items that are also present in one or more specified sets. It updates the set in place and does not return a new set.

Here's an example:

In [25]:
# Creating a set
my_set = {1, 2, 3, 4, 5}

# Creating another set
other_set = {4, 5, 6, 7, 8}

# Modifying the original set using difference_update()
my_set.difference_update(other_set)

print(my_set)  # Output: {1, 2, 3} (items 4 and 5 are removed from the original set)

{1, 2, 3}

In the example, **the difference_update()** method is called on my_set with other_set as the argument. It removes all the items that are present in other_set from my_set, resulting in the original set being modified in place with only **{1, 2, 3}** remaining. Note that the **difference_update()** method does not return a new set, but instead modifies the original set directly.

**discard(item)**

**The discard()** method is used to remove a specified item from a set, if it exists in the set. If the item is not present in the set, the set remains unchanged and no error is raised.

Here's an example

In [26]:
# Creating a set
my_set = {1, 2, 3, 4, 5}

# Removing an item using discard()
my_set.discard(3)

print(my_set)  # Output: {1, 2, 4, 5} (item 3 is removed from the set)

{1, 2, 4, 5}

In the example, the **discard()** method is called on my_set with 3 as the argument. Since 3 is present in the set, it is removed, and the resulting set becomes {1, 2, 4, 5}. If 3 was not present in the set, the set would have remained unchanged without raising an error.

**intersection_update(....)**

The **intersection_update()** method is used to modify the original set by removing items that are not present in both the original set and one or more specified sets.

Here's an example:

In [27]:
# Creating two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Modifying set1 using intersection_update()
set1.intersection_update(set2)

print(set1)  # Output: {4, 5} (only items present in both set1 and set2 are kept in set1)

{4, 5}

In the example, the **intersection_update()** method is called on set1 with set2 as the argument. The resulting set set1 will only contain items that are present in both **set1 and set2**, which in this case are** {4, 5}.** Items that are not present in both sets are removed from set1

**Isdisjoint(....)**

The **isdisjoint() **method is used to check if two sets have a null intersection, meaning they do not have any common items. If the sets have no items in common, the method returns True, otherwise it returns False.

Here's an example:

In [28]:
# Creating two sets
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

# Checking if sets are disjoint using isdisjoint()
result = set1.isdisjoint(set2)

print(result)  # Output: True (sets set1 and set2 have no common items)

True

In the example, the **isdisjoint()** method is called on set1 with **set2** as the argument. Since sets set1 and **set2** have no common items, the method returns True.

**pop()**	
The **pop()** method in Python sets is used to remove and return an arbitrary (random) element from the set. The removed element is also deleted from the set. However, if the set is** empty, i.e.**, it has no elements, then a **KeyError** is raised.

Here's an example:

In [29]:
# Creating a set
my_set = {1, 2, 3, 4, 5}

# Removing and returning an arbitrary element using pop()
removed_item = my_set.pop()

print(removed_item)  # Output: 1 (an arbitrary element from the set)
print(my_set)         # Output: {2, 3, 4, 5} (set with the removed element)

1
{2, 3, 4, 5}

n this example, the **pop()** method is called on **my_set** to remove and return an arbitrary element from the set. The removed element is printed, and the set is also printed after the removal to show that the element has been deleted from the set.


**symmetric_difference_update(....)**

The symmetric_difference_update() method in Python sets is used to update a set by keeping only the elements that are unique to either the original set or another set (or sets) specified. In other words, it removes the elements that are common to both sets and keeps the elements that are unique to either set.

Here's an example:

In [30]:
# Creating two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Updating set1 with symmetric difference of set1 and set2
set1.symmetric_difference_update(set2)

print(set1)  # Output: {1, 2, 3, 6, 7, 8} (updated set1 with elements unique to either set1 or set2)

{1, 2, 3, 6, 7, 8}

In this example, the **symmetric_difference_update()** method is called on set1 with **set2** as an argument. After the update, **set1** will only contain the elements that are unique to either set1 or **set2**, i.e., elements that are not present in both sets.

# Here's a summary

- Sets in Python are collections of unique and unordered elements enclosed in curly **braces {}** or created using the **set()** method.
- Items can be added to a set using the add() method for single items or the **update()** method for multiple items.
- Items can be removed from a set using the **discard()** method or the **remove()** method. The difference is that **discard()** does not raise an error if the item is not found in the set, while **remove()** raises a **KeyError** in such cases.
- Set operations such as union, intersection, difference, and symmetric difference can be performed using operators or methods like **union()**, **intersection()**, **difference()**, and **symmetric_difference().**
- Set comparisons can be made using comparison operators like **<, >, <=, >=, and == **to check if a set is a subset, superset, or equivalent to another set.
- Frozen sets are immutable sets that can be used as keys in dictionaries. They are created using the **frozenset()** method and can only contain hashable elements.
- Additional set methods include clear() to delete all items from a set, **copy()** to create a shallow copy of a set, **difference_update()** to remove items present in other sets, **isdisjoint()** to check if two sets have no common elements,** pop()** to remove and return an arbitrary set element, and **symmetric_difference_update()** to update a set with the symmetric difference of itself and another set.

**Please let me know if there's anything else you need!**